<%= search_form_for @search, url: root_path do |f| %>
  <div class="form-group">
    <%= f.label :content_cont, "内容" %>
    <%= f.search_field :content_cont, class: "form-control" %>

    <%= f.label :title_cont, "タイトル" %>
    <%= f.search_field :title_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render 'events/new_event_card' %>
  </div>
  <div class="col-md-8">
    <% if @events.any? %>
    <h3>Microposts (<%= @events.count %>)</h3>
    <ol class="events">
      <%= render partial: 'events/event_card', collection: @events %>
    </ol>
    <%= paginate(@events) %>
    <% end %>
  </div>
</div>