<div class="form-group">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<% if controller_name == 'registrations' %>
  <div class="form-group">
    <%= form.label :username, "ユーザネーム", class: 'control-label' %>
    <%= form.text_field :username, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <div class="circle-avatar">
      <% if current_user.persisted? && current_user.avatar? %>
      <%= image_tag current_user.avatar.to_s %>
      <label><%= form.check_box :remove_avatar %> 画像を削除</label>
      <% else %>
      <%= image_tag 'fallback/default_user_avatar.png' %>
      <%= form.hidden_field :avatar_cache %>
      <% end %>
      <label for="event_img" class="btn submit-btn" style="cursor:pointer;">
        <div style="white-space: nowrap;">画像を変更</div>
        <%= form.file_field :avatar, id: 'event_img', class: "d-none" %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :アベレージスコア, class: 'control-label' %><br>
      <%= form.select :average_score, User.average_scores.keys,{prompt: '選択してください'},
        class: 'form-control btn btn-info btn-block' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :プレータイプ, class: 'control-label' %><br>
      <%= form.select :play_type, User.play_types.keys,{prompt: '選択してください'},
        class: 'form-control btn btn-info btn-block' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :introduction, "自己紹介", class: 'control-label' %><br/>
      <%= form.text_area :introduction, class: 'form-control', rows: 5 %>
    </div>
  </div>
<% end %>

<% if controller_name == 'registrations' %>
  <div class="form-group">
    <%= form.label :password, "パスワード", class: 'control-label' %>
    <em>(変更する場合のみ入力してください)</em>
    <%= form.password_field :password, class: 'form-control',
      autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %>文字以上の半角英数字を入力してください</em>
    <% end %><br />
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, "パスワードの再入力", class: 'control-label' %>
    <%= form.password_field :password_confirmation, class: 'form-control',
      autocomplete: "new-password" %>
  </div>
<% end %>

<div class="form-group">
  <% button_name = "" %>
  <% if controller_name == 'registrations' %>
    <% button_name = "更新する" %>
  <% end %>
  <%= form.submit "#{button_name}", class: "btn btn-info btn-block text-white" %>
</div>