<div class="search-box bg-white">
  <div class="text-info search-title">
    ゴル友を探す(<%= user_count %>)
  </div>
  <table class="search-table">
    <tr class="search-tr">
      <td class="search-item-head">
        <div>
          エリア
        </div>
      </td>
      <td class="search-item-body">
        <div>
          <%= form_with(url: search_users_path, method: :get, local: true, id:'prefecture_select_form') do |f| %>
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,
              { include_blank: '指定なし', prompt: '指定なし',
                selected: "#{@search_item_hash[:prefecture_id].to_i }" },
              { class: 'search-item-select btn btn-info btn-block' } %>
            <%= f.hidden_field :search_item_hash, value: @search_item_hash.to_json %>
            <%= f.submit class: 'search-item-btn-none' %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr class="search-tr">
      <td class="search-item-head">
        <div>
          年代
        </div>
      </td>
      <td class="search-item-body">
        <div>
          <%= link_to search_users_path(:ages => 0, :search_item_hash => @search_item_hash),
            class: "text-info #{@search_item_hash[:ages].to_i == 0 ? 'search-item-selected' : ''}" do %>
            指定なし
          <% end %>
        </div>
        <% User.ages.each_value do |age| %>
          <div>
            <%= link_to search_users_path(:ages => age[:id], :age_min => age[:min], :age_max => age[:max],
              :search_item_hash => @search_item_hash),
              class: "text-info #{@search_item_hash[:ages].to_i == age[:id] ? 'search-item-selected' : ''}" do %>
              <%= age[:name] %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr class="search-tr">
      <td class="search-item-head">
        <div>
          性別
        </div>
      </td>
      <td class="search-item-body">
        <div>
          <%= link_to search_users_path(:sex => 0, :search_item_hash => @search_item_hash),
            class: "text-info #{@search_item_hash[:sex].to_i == 0 ? 'search-item-selected' : ''}" do %>
            指定なし
          <% end %>
        </div>
        <% User.sexes.each do |sex| %>
          <% unless sex[1].to_i == 0 %>
          <div>
            <%= link_to search_users_path(:sex => sex[1], :search_item_hash => @search_item_hash),
              class: "text-info #{@search_item_hash[:sex].to_i == sex[1].to_i ? 'search-item-selected' : ''}" do %>
              <%= sex[0] %>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr class="search-tr">
      <td class="search-item-head">
        <div>
          プレータイプ
        </div>
      </td>
      <td class="search-item-body">
        <div>
          <%= link_to search_users_path(:play_type => 0, :search_item_hash => @search_item_hash),
            class: "text-info #{@search_item_hash[:play_type].to_i == 0 ? 'search-item-selected' : ''}" do %>
            指定なし
          <% end %>
        </div>
        <% User.play_types.each do |play_type| %>
          <div>
            <%= link_to search_users_path(:play_type => play_type[1], :search_item_hash => @search_item_hash),
              class: "text-info #{@search_item_hash[:play_type].to_i == play_type[1].to_i ? 'search-item-selected' : ''}" do %>
              <%= play_type[0] %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<script>
$(document).ready(function(){
  $("#prefecture_id").change(function(){
    $('#prefecture_select_form').submit();
  });
});
</script>