<div class="userList-card">
  <div class="float-left userList-image">
    <%= link_to user_path(user_card) do %>
      <% if user_card.avatar?%>
        <%= image_tag user_card.avatar.url, class: 'avatar-img rounded-circle' %>
      <% else %>
        <%= image_tag 'fallback/default_user_avatar.png', class: 'avatar-img rounded-circle' %>
      <% end %>
    <% end %>
  </div>
  <div class="d-block d-lg-none float-left">
    <div class="userList-body-name text-left pt-4 pl-3">
      <%= link_to user_path(user_card) do %>
        <%= user_card.username %>
      <% end %>
    </div>
  </div>

  <div class="float-left userList-body">
    <div class="d-none d-lg-block">
      <div class="userList-body-name">
        <%= link_to user_path(user_card) do %>
          <%= user_card.username %>
        <% end %>
      </div>
    </div>
    <div class="userList-body-intro">
      <%= link_to user_path(user_card) do %>
        <%= user_card.introduction %>
      <% end %>
    </div>
    <div class="userList-body-detail">
      エリア：<%= user_card.prefecture.name if !user_card.prefecture.nil? %>
    </div>
    <div class="userList-body-detail">
      年代：<%= user_card.get_ages %>&emsp;
      性別：<%= user_card.sex %>
    </div>
    <div class="userList-body-detail">
      プレータイプ：<%= user_card.play_type %>
    </div>
    <div class="userList-body-detail">
      平均スコア：<%= user_card.average_score %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="float-left userList-btn mt-2">
      <%= render 'users/follow_form', object: user_card %>
      <% if current_user.admin? && user_card != current_user %>
        <a class="btn userList-delete bg-danger text-white" data-toggle="modal"
          data-target="#modal-<%= ApplicationHelper::DELETE_USER_MODAL_MODE + user_card.id.to_s %>">
          削除&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'layouts/modal',
  {modal_id: ApplicationHelper::DELETE_USER_MODAL_MODE + user_card.id.to_s,
  mode: ApplicationHelper::DELETE_USER_MODAL_MODE, object: user_card} %>