<% provide(:title, 'すべてのユーザー') %>

<%= search_form_for @search, url: users_path do |f| %>
  <div class="form-group">
    <%= f.label :username_cont, "ユーザ名" %>
    <%= f.search_field :username_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div class="page-header d-flex align-items-center mx-auto mb-4">すべてのメンター</div>

<div class="all-users user-cards row">
  <%= render partial: 'users/user_card', collection: @users, as: :user_card %>
</div>

<div class="all-users-footer">
  <%= paginate(@users) %>

</div>