<% provide(:title, @user.username) %>

<div class="user-page">
  <div class="user-detail-panel">
    <div class="user-detail">
      <div class="user-profile">
        <h3 class="text-secondary">プロフィール</h3>
        <div class="user-profile-image">
          <% if @user.avatar?%>
            <%= image_tag @user.avatar.url, class: 'avatar-img-big rounded-circle' %>
          <% else %>
            <%= image_tag 'fallback/default_user_avatar.png', class: 'avatar-img-big rounded-circle' %>
          <% end %>
        </div>
        <div class="user-profile-contents">
          <div class="user-profile-item">
            <span class="text-info">ユーザー名</span>
            <br>
            <p class="pl-2">
              <%= @user.username %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">エリア</span>
            <br>
            <p class="pl-2">
              <%= @user.prefecture %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">年代</span>
            <br>
            <p class="pl-2">
              <%= @user.get_ages %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">性別</span>
            <br>
            <p class="pl-2">
              <%= @user.sex %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">プレータイプ</span>
            <br>
            <p class="pl-2">
              <%= @user.play_type %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">アベレージスコア</span>
            <br>
            <p class="pl-2">
              <%= @user.average_score %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">コメント</span>
            <br>
            <p class="pl-2">
              <%= @user.introduction %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">フォロー</span>
            <br>
            <p class="pl-2">
              <%= link_to following_user_path(@user) do %>
                <%= @user.following.count.to_s(:delimited) %>
              <% end %>
            </p>
          </div>
          <div class="user-profile-item">
            <span class="text-info">フォロワー</span>
            <br>
            <p class="pl-2">
              <%= link_to followers_user_path(@user) do %>
                <%= @user.followers.count.to_s(:delimited) %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="event-box">
      <ul class="nav nav-tabs" id="profile-tablist" role="tablist">
        <li class="nav-item profile-tabitem">
          <a href="#tab1" id="event-tab" class="nav-link" data-toggle="tab" aria-selected="true">
            主催イベント(<%= @user.events.count.to_s(:delimited) %>)
          </a>
        </li>
        <li class="nav-item profile-tabitem">
          <a href="#tab2" id="participated-event-tab" class="nav-link" data-toggle="tab" aria-selected="true">
            参加イベント(<%= @user.participated_events.count.to_s(:delimited) %>)
          </a>
        </li>
        <% if current_user?(@user) %>
        <li class="nav-item profile-tabitem">
          <a href="#tab3" id="liked-event-tab" class="nav-link" data-toggle="tab" aria-selected="true">
            気になるイベント(<%= @user.liked_events.count.to_s(:delimited) %>)
          </a>
        </li>
        <% end %>
      </ul>
      <div class="tab-content mt-3" id="profile-tabContent">
        <div id="tab1" class="tab-pane" aria-labelledby="event-tab">
          <% if @events.any? %>
            <%= paginate(@events, :param_name => "event_page") %>
            <ul class="events">
              <%= render partial: "events/event_card", collection: @events %>
            </ul>
            <%= paginate(@events, :param_name => "event_page") %>
          <% else %>
            <span class="text-white">主催イベントはありません</span>
          <% end %>
        </div>
        <div id="tab2" class="tab-pane" ia-labelledby="participated-event-tab">
          <% if @participated_events.any? %>
            <%= paginate(@participated_events, :param_name => "participated_event_page") %>
            <ul class="events">
              <%= render partial: "events/event_card", collection: @participated_events %>
            </ul>
            <%= paginate(@participated_events, :param_name => "participated_event_page") %>
          <% else %>
            <span class="text-white">参加イベントはありません</span>
          <% end %>
        </div>
        <% if current_user?(@user) %>
        <div id="tab3" class="tab-pane" ia-labelledby="liked-event-tab">
          <% if @liked_events.any? %>
            <%= paginate(@liked_events, :param_name => "liked_event_page") %>
            <ul class="events">
              <%= render partial: "events/event_card", collection: @liked_events %>
            </ul>
            <%= paginate(@liked_events, :param_name => "liked_event_page") %>
          <% else %>
            <span class="text-white">気になるイベントはありません</span>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>