<% provide(:title, title) %>

<div class="page">
  <div class="mid-white-panel">
    <h2><%= title %></h2>

    <%= form_with(model: object, local: true) do |form| %>
      <div class="event-form-group">
        <%= render "shared/error_messages", resource: form.object %>
      </div>

      <div class="event-form-group">
        <%= form.label :title, "タイトル", class: "control-label" %>
        <%= form.text_field :title, class: "form-control", autofocus: true %>
      </div>

      <div class="event-form-group">
        <%= form.label :event_date, "日時", class: "control-label" %>
        <br>
        <%= form.date_field :event_date, class: "form-control-select", value: Time.now.strftime("%Y-%m-%d") %>
        <%= form.time_select :start_time, {default: Date.today + 7.hour,
          start_hour: 00, end_hour: 23, minute_step: 15},
          {class: "form-control-select btn-light"} %>
        〜
        <%= form.time_select :end_time, {default: Date.today + 17.hour,
          start_hour: 00, end_hour: 23, minute_step: 15},
          {class: "form-control-select btn-light"} %>
      </div>

      <div class="event-form-group">
        <%= form.label :place, "ゴルフ場", class: "control-label" %>
        <%= form.text_field :place, id: :place_id, placeholder: "入力に応じて候補が表示されます",
          class: "form-control" %>
        <%= form.hidden_field :course_id, id: :course_id %>
      </div>

      <div class="event-form-group">
        <%= form.label :address, "住所(任意)", class: "control-label" %>
        <%= form.text_field :address, id: :address_field, class: "form-control" %>
      </div>

      <div class="event-form-group">
        <%= form.label :maximum_participants, "最大参加可能人数", class: "control-label" %>
        <br>
        <%= form.number_field :maximum_participants, class: "form-control-select", value: 1, min:1 %>
      </div>

      <div class="event-form-group">
      <p class="float-left text-danger" id="content-counter"></p>
        <%= form.label :content, "詳細", class: "control-label" %>
        <%= form.text_area :content, class: "form-control", id: "input-content-area", rows:10 %>
      </div>

      <div class="event-form-group">
        <%= form.label :image, "イメージ", class: "control-label" %>
        <div class="square-image">
          <% if object.image? %>
            <%= image_tag object.image.to_s, id: :img_prev %>
          <% else %>
            <%= image_tag "fallback/default_event_image.png", id: :img_prev %>
          <% end %>
          <%= form.hidden_field :image_cache %>
          <div class="mt-1">
            <label for="event_img">
              <span class="btn btn-outline-secondary">
                画像登録
              </span>
              <%= form.file_field :image, id: :event_img, class: "d-none" %>
              <%= form.hidden_field :remote_image_url %>
            </label>
          </div>
        </div>
      </div>

      <div class="event-form-group">
        <%= form.submit "更新", type: "button", onclick: "submit();",
          class: "btn btn-info btn-block text-white" %>
      </div>

    <% end %>
  </div>
</div>