<div class="eventList-card" id="eventList-card-<%= event_card.id %>">
  <div class="eventList-image">
    <%= link_to event_path(event_card) do %>
      <% if event_card.image?%>
        <%= image_tag event_card.image.url, class: 'event-img-card' %>
      <% else %>
        <%= image_tag 'fallback/default_event_image.png', class: 'event-img-card' %>
      <% end %>
    <% end %>
  </div>

  <div class="eventList-body">
    <div class="eventList-body-title" id="eventList-body-title-<%= event_card.id %>">
      <%= link_to event_path(event_card) do %>
        <%= event_card.title %>
      <% end %>
    </div>

    <div class="eventList-body-item">
      主催者：
      <%= link_to user_path(event_card.user) do %>
        <%= event_card.user.username %>
      <% end %>
    </div>

    <div class="eventList-body-item">
      開催日：<%= date_wday(event_card.event_date) %>&nbsp;&nbsp;場所：<%= event_card.place %>
    </div>

    <div class="eventList-body-item">
      参加人数：<%= event_card.participants.count %>／<%= event_card.maximum_participants %>
    </div>

    <div class="eventList-body-item">
      <%= event_card.content %>
    </div>
  </div>

  <div class="eventList-btn" id="eventList-btn-<%= event_card.id %>">
    <% if user_signed_in? %>
      <%= render 'events/like_form', object: event_card %>
      <% if current_user?(event_card.user) || current_user.admin? %>
        <% if current_user?(event_card.user) %>
          <%= link_to edit_event_path(event_card),
            class: "btn base-btn mt-2 btn-secondary base-btn text-white" do %>
            編集&nbsp;<i class="fa fa-edit"></i>
          <% end %>
        <% end %>
        <a class="btn base-btn mt-2 bg-danger text-white" data-toggle="modal"
          data-target="#modal-<%= event_card_mode.to_s + ApplicationHelper::DELETE_EVENT_MODAL_MODE + event_card.id.to_s %>">
          削除&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'layouts/modal',
  {modal_id: event_card_mode.to_s + ApplicationHelper::DELETE_EVENT_MODAL_MODE + event_card.id.to_s,
  mode: ApplicationHelper::DELETE_EVENT_MODAL_MODE, object: event_card} %>