<div class="eventList-card">
  <div class="eventList-image">
    <% if event_card.image?%>
      <%= image_tag event_card.image.url, class: 'event-img-card' %>
    <% else %>
      <%= image_tag 'fallback/no_image.png', class: 'event-img-card' %>
    <% end %>
  </div>

  <!-- date, place, user, participants, content, likes -->

  <div class="eventList-body">
    <div class="eventList-body-title">
      <%= event_card.title %>
    </div>

    <div class="eventList-body-title">
      <%= event_card.user.username %>
    </div>
  </div>

  <div class="eventList-btn">
    <% if current_user?(event_card.user) || current_user.admin? %>
      
      <a class="btn eventList-delete text-danger" data-toggle="modal" data-target="#modal">
      <i class="fa fa-trash" aria-hidden="true"></i></a>
    <% end %>
  </div>
</div>
<%= render 'layouts/modal', {mode: ApplicationHelper::DELETE_EVENT_MODAL_MODE, object: event_card} %>