<% provide(:title, "イベント詳細") %>

<div class="page">
  <div class="wide-white-panel">
    <h2><%= @event.title %></h2>

    <div class="event-container">
      <div class="event-image">
        <% if @event.image?%>
          <%= image_tag @event.image.url, class: 'event-img' %>
        <% else %>
          <%= image_tag 'fallback/no_image.png', class: 'event-img' %>
        <% end %>
      </div>

      <div class="event-body">
        <table class="w-100">
          <tr>
            <td colspan="2">
              <div class="event-body-btn">
                <% if !current_user?(@event.user) %>
                  <%= render 'events/like_form', object: @event %>
                <% end %>
              </div>
              <div class="event-body-btn">
                <% if current_user?(@event.user) || current_user.admin? %>
                  <a class="btn event-delete bg-danger text-white" data-toggle="modal"
                    data-target="#modal-<%= ApplicationHelper::DELETE_EVENT_MODAL_MODE %>">
                    削除&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                <% end %>
                <%= render 'layouts/modal', {mode: ApplicationHelper::DELETE_EVENT_MODAL_MODE, object: @event} %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="event-h-td">
              <div class="event-item user-name">主催者</div>
            </td>
            <td>
              <%= link_to user_path(@event.user) do %>
                <%= @event.user.username %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="event-h-td">
              <div class="event-item">日時</div>
            </td>
            <td>
              <%= @event.event_date %>
            </td>
          </tr>
          <tr valign="top">
            <td class="event-h-td">
              <div class="event-item">詳細</div>
            </td>
            <td>
              <%= simple_format(h(@event.content)) %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <% if !current_user?(@event.user) %>
      <div class="btn-field mb-2">
        <% if current_user.already_participated?(@event) %>
          <%= render 'events/stop_participate', object: @event %>
        <% else %>
          <%= render 'events/participate', object: @event %>
        <% end %>
      </div>
    <% end %>

    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item w-50">
          <a href="#tab1" class="nav-link active" data-toggle="tab">
            参加者(<%= @event.participants.count %>／<%= @event.participants.count %>)
          </a>
        </li>
        <li class="nav-item w-50">
          <a href="#tab2" class="nav-link" data-toggle="tab">
            コメント(<%= @event.comments.count %>件)
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane active">
          <%= render 'events/participants_form', object: @event %>
        </div>
        <div id="tab2" class="tab-pane">
          <%= render 'events/comment_form', object: @event %>
        </div>
      </div>
    </div>
  </div>
</div>