<% provide(:title, "イベント詳細") %>
<%= javascript_include_tag 'comments.js' %>

<div class="page">
  <div class="wide-white-panel">
    <h2><%= @event.title %></h2>

    <div class="event-container">
      <div class="event-image">
        <% if @event.image?%>
          <%= image_tag @event.image.url, class: 'event-img' %>
        <% else %>
          <%= image_tag 'fallback/default_event_image.png', class: 'event-img' %>
        <% end %>
      </div>

      <div class="event-body">
        <table class="w-100">
          <tr>
            <td colspan="2">
              <div class="event-body-btn">
                <% if !current_user?(@event.user) %>
                  <%= render 'events/like_form', object: @event %>
                <% end %>
              </div>
              <% if user_signed_in? %>
                <% if current_user?(@event.user) || current_user.admin? %>
                  <div class="event-body-btn" id="event-delete-btn">
                      <a class="btn base-btn bg-danger text-white" data-toggle="modal"
                        data-target="#modal-<%= ApplicationHelper::DELETE_EVENT_MODAL_MODE %>">
                        削除&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    <%= render 'layouts/modal',
                      {modal_id: ApplicationHelper::DELETE_EVENT_MODAL_MODE,
                      mode: ApplicationHelper::DELETE_EVENT_MODAL_MODE, object: @event} %>
                  </div>
                  <div class="event-body-btn" id="event-edit-btn">
                    <%= link_to edit_event_path(@event), class: "btn btn-secondary base-btn text-white" do %>
                      編集&nbsp;<i class="fa fa-edit"></i>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="event-h-td">
              <div class="event-item user-name">主催者</div>
            </td>
            <td>
              <%= link_to user_path(@event.user) do %>
                <%= @event.user.username %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="event-h-td">
              <div class="event-item">日時</div>
            </td>
            <td>
              <%= date_wday(@event.event_date) %>&nbsp;&nbsp;
              <%= format_time(@event.start_time) %>〜
              <%= format_time(@event.end_time) %>
            </td>
          </tr>
          <tr>
            <td class="event-h-td">
              <div class="event-item">ゴルフ場</div>
            </td>
            <td>
              <%= @event.place %>
            </td>
          </tr>
          <tr valign="top">
            <td class="event-h-td">
              <div class="event-item">詳細</div>
            </td>
            <td>
              <%= simple_format(h(@event.content)) %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if !current_user?(@event.user) %>
        <div class="btn-field mb-2">
          <% if @event.already_participated?(current_user) %>
            <%= render 'events/stop_participate', object: @event %>
          <% else %>
            <%= render 'events/participate', object: @event %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item w-50">
          <a href="#tab1" id="participant-tab" class="nav-link active" data-toggle="tab">
            参加者(<%= @event.participants.count %>／<%= @event.maximum_participants %>)
          </a>
        </li>
        <li class="nav-item w-50">
          <a href="#tab2" id="comment-tab" class="nav-link" data-toggle="tab">
            コメント(<span id="comment-count"><%= @event.comments.count.to_s(:delimited) %></span>件)
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane active">
          <%= render 'events/participants_form', object: @event %>
        </div>
        <div id="tab2" class="tab-pane">
          <%= render 'events/comment_form', object: @event %>
        </div>
      </div>
    </div>
  </div>
</div>