<div class="modal modal-default" id="modal-<%= mode %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <br/>
        <% if(mode == ApplicationHelper::EASY_LOGIN_MODAL_MODE) %>
          ログインすることでこちらのサイトをお試しになれます。
        <% elsif (mode == ApplicationHelper::DELETE_USER_MODAL_MODE) %>
          このユーザーを削除しますか？
        <% elsif (mode == ApplicationHelper::PARTICIPATE_EVENT_MODAL_MODE) %>
          このイベントに参加しますか？
        <% elsif (mode == ApplicationHelper::STOP_PARTICIPATE_EVENT_MODAL_MODE) %>
          このイベントの参加をやめますか？
        <% elsif (mode == ApplicationHelper::DELETE_ACCOUNT_MODAL_MODE) %>
          本当にアカウントを削除しますか？
        <% elsif (mode == ApplicationHelper::DELETE_EVENT_MODAL_MODE) %>
          このイベントを削除しますか？
        <% end %>
        <br/><br/>
      </div>
      <% if object.nil? %>
      <div class="modal-footer", id="modal-btn">
      <% else %>
      <div class="modal-footer", id="modal-btn-<%= object.id %>">
      <% end %>
        <button type="button" class="btn btn-sm" data-dismiss="modal">キャンセル</button>
        <% if(mode == ApplicationHelper::EASY_LOGIN_MODAL_MODE) %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email, {value: 'guest@example.com'} %>
            <%= f.hidden_field :password, value: "guestpassword" %>
            <%= f.submit "ログイン", class: "btn text-info btn-sm" %>
          <% end %>
        <% elsif (mode == ApplicationHelper::DELETE_USER_MODAL_MODE || mode == ApplicationHelper::DELETE_EVENT_MODAL_MODE) %>
          <%= link_to "削除", object, class: "btn", style: "color: #f90e43;", method: :delete %>
        <% elsif (mode == ApplicationHelper::PARTICIPATE_EVENT_MODAL_MODE) %>
          <%= form_with(model: object.participants.build, local: true) do |f| %>
            <div>
              <%= hidden_field_tag :event_id, object.id %>
            </div>
            <%= button_tag(class: "btn like-sm rounded-pill d-flex d-sm-none align-items-center justify-content-center px-3") do %>
              <i class="far fa-thumbs-up" style="font-size: 1.1rem;"></i>
            <% end %>
            <%= f.submit "参加する", id:"participates-event-btn",
              class: "btn text-info rounded-pill d-none d-sm-flex align-items-center justify-content-center px-3" %>
          <% end %>
        <% elsif (mode == ApplicationHelper::STOP_PARTICIPATE_EVENT_MODAL_MODE) %>
          <%= form_with(model: object.participants.find_by(user_id: current_user.id), html: { method: :delete }, local: true) do |f| %>
            <div><%= hidden_field_tag :event_id, object.id %></div>
              <%= button_tag(class: "btn unlike-sm rounded-pill d-flex d-sm-none align-items-center justify-content-center px-3") do %>
                <i class="fas fa-check" style="font-size: 1.1rem; position: relative; top: 1px;"></i>
              <% end %>
            <%= f.submit "参加をやめる", id:"stop-participates-event-btn",
              class: "btn text-danger rounded-pill d-none d-sm-flex align-items-center justify-content-center px-3" %>
          <% end %>
        <% elsif(mode == ApplicationHelper::DELETE_ACCOUNT_MODAL_MODE) %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.submit "削除", class: "btn text-danger btn-sm"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>